body{
    font-style: Arial, Helvetica, sans-serif;
}

/* Estilos do Header */
.header{
    background-color: #fec63e;
    top: 0;
    width: 100%;
    position: fixed;
    padding: 15px 0;
}
.header_menu{
    text-align: right; 
}
.header_menu ul li{
    display: inline-block;
    margin-left: 25px;
    margin-top: 22px;
}
.header_menu ul li a{
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 14px;
    line-height: 20px;
    padding: 15px 0;
}
.header_menu ul li a:hover{
    color: white;
}
